.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.comment.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.comment-media {
    max-width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.comment-media.minimized {
    max-height: 100px;
    object-fit: cover;
}

.comment-media.expanded {
    max-height: none;
    width: 100%;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.like-button {
    background: none;
    border: none;
    color: #ccc;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

.like-button:hover,
.like-button.liked {
    color: #27a34d;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.comment-options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.options-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.options-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    color: #27a34d;
}

.options-menu button:hover {
    background: #f0f0f0;
}

.edit-comment-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.save-edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #27a34d;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.save-edit-button:hover {
    background-color: #27a34d;
}
