.post {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.post-content {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    position: relative;
}

.post-media {
    max-width: 100%;
    margin-top: 10px;
}

.post-comments {
    flex: 1;
    padding: 20px;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.new-comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.new-comment-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.new-comment-media-input {
    display: none;
}

.new-comment-media-label {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #27a34d;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 10px;
}

.new-comment-media-label:hover {
    background-color: #27a34d;
}

.media-preview {
    max-width: 100%;
    margin-top: 10px;
}

.new-comment-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.new-comment-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #27a34d;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.new-comment-submit:hover {
    background-color: #27a34d;
}

.new-comment-submit.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.like-button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 5px;
}

.like-button.liked {
    color: #27a34d;
    border-color: #27a34d;
}

.post-options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.options-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.options-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    color: #27a34d;
}

.options-menu button:hover {
    background: #f0f0f0;
}

.edit-post-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
}

.save-edit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #27a34d;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.save-edit-button:hover {
    background-color: #27a34d;
}
