@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.Landing {
    width: 100%;
    height: 100%;
    position : relative;
    display: grid; /* Habilitar grid */
    grid-template-columns: 1fr auto; /* Definir dos columnas: una que ocupa el espacio restante y otra que se ajusta al contenido */
    align-items: center; /* Opcional: Centrar verticalmente */
    overflow: auto;
    font-family: 'Roboto', sans-serif;
}


